@model JeromeLecky.WebUI.Models.ProductListViewModel
@{
    ViewBag.Action = Model.State.ToDisplayString();
}
@using (Html.BeginForm((string)ViewBag.Action, "ProductList", FormMethod.Post, new { name = "productForm", id = "productForm" })) {
    @Html.HiddenFor(x => x.SelectedProduct.ProductId)
    <p>Name: @Html.TextBoxFor(x => x.SelectedProduct.Name, new { @class = "form-control form-control-sm float-right col-8", maxlength = 100 })</p>
    <p>Base Price: @Html.TextBoxFor(x => x.SelectedProduct.BasePrice, new { @class = "form-control form-control-sm float-right col-8" })</p>
    <p>Sku Code: @Html.TextBoxFor(x => x.SelectedProduct.SkuCode, new { @class = "form-control form-control-sm float-right col-8", maxlength = 10 })</p>
    <p>Category: @Html.TextBoxFor(x => x.SelectedProduct.Category, new { @class = "form-control form-control-sm float-right col-8" })</p>
    <p>Stock Quantity: @Html.TextBoxFor(x => x.SelectedProduct.StockQuantity, new { @class = "form-control form-control-sm float-right col-8", @type = "number", @min = "0" })</p>
    <p>Stock Status: @Html.EnumDropDownListFor(
                        x => x.SelectedProduct.StockStatus,
                        null,
                        new { 
                            @class = "form-control form-control-sm float-right col-8",
                        })</p>

}
